/*ES: Formato base para pagina - EN: Base format for the website*/
/*#region*/
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

@font-face{
	font-family: 'JetBrainsMono';
  src: url("../fonts/JetBrainsMono-Regular.eot") format("embedded-opentype"),
       url("../fonts/JetBrainsMono-Regular.woff") format("woff"),
       url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"),
       url("../fonts/JetBrainsMono-Bold.eot") format("embedded-opentype"),
       url("../fonts/JetBrainsMono-Bold.woff") format("woff"),
       url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: swap;
}
/*#endregion*/

/*ES: Estilo general de la pagina - EN: General style of the website*/
/*#region*/
body {
  background: #4169e1;
  font-family: 'JetBrainsMono', 'Lucida Console';
  font-size: 24px;
}

#main-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 1200px;
  height: auto;
  margin: auto;
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
}

#header {
  position: relative;
  display: grid;
  background: #4169e1 url("../images/bg_01.webp") center;
  background-size: cover;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 100%;
  height: 120px;
  z-index: 1;
}

#header::before {
  position: absolute;
  content: "";
  background: #ffffff88;
  width: 100%;
  height: 100%;
}

#left-header {
  position: relative;
  height: 100%;
}

.left-links {
  position: relative;
  background: #ffffff;
  font-size: .65em;
  width: 40px;
  height: 40px;
  transition: 250ms ease-in-out;
}

.left-links:hover {
  width: 180px;
  height: 40px;
  background: #ffffff;
  transition: 250ms ease-in-out;
}

.link1::before, .link2::before, .link3::before {
  position: absolute;
  content: "";
  background: #4169e1;
  color: #ffffff;
  text-shadow: 2px 2px 0 #36454f;
  width: 0;
  height: 40px;
  padding: 10px 0 10px 20px;
  text-align: center;
  transform: scale(0, 1);
  transform-origin: 0% 0%;
  transition: 250ms ease-in-out;
}

.link1:hover::before, .link2:hover::before, .link3:hover::before {
  position: absolute;
  width: 180px;
  transform: scale(1, 1);
  transition: 500ms ease-in-out;
}

.link1::before {
  content: "freeCodeCamp";
}

.link2::before {
  content: "GitHub";
}

.link3::before {
  content: "CodePen";
}

.left-links > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.left-links > a > img {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
}

#right-header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  height: 100%;
}

#logo {
  position: relative;
  background: #ffffff;
  width: 120px;
  height: 100%;
  transition: 250ms ease-in-out;
  overflow: hidden;
}

#logo:hover {
  background: #4169e1;
  transition: 250ms ease-in-out;
}

#logo-img1 {
  position: relative;
  display: block;
  width: 120px;
  height: 100%;
  margin: auto;
}

#logo-img1:hover {
  filter: drop-shadow(0 0 2px #ffffff);
}

#logo > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.right-links {
  position: relative;
  background: #ffffff88;
  width: 120px;
}

.right-links > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  font-size: .65em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #36454f;
  transition: 250ms ease-in-out;
  z-index: 1;
}

.right-links > a:hover {
  position: absolute;
  background: #4169e188;
  color: #ffffff;
  transition: 250ms ease-in-out;
}

.right-links > a::before {
  position: absolute;
  background: #36454f;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transform: scale(0, .1);
  transform-origin: 100% 100%;
  transition: 250ms ease-in-out;
  z-index: -1;
}

.right-links > a:hover::before {
  transform: scale(1, .1);
  transform-origin: 100% 100%;
  transition: 250ms ease-in-out;
}

#welcome {
  position: relative;
  display: grid;
  background: #36454f;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}

#welcome-text {
  position: relative;
  grid-area: 1/1/2/4;
  background: #4169e1;
  font-size: .8em;
  text-align: justify;
  color: #ffffff;
  margin: 20px 50px;
  padding: 20px;
}

#portfolio {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  justify-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-top: solid 5px #ffffff;
  border-bottom: solid 5px #ffffff;
}

#portfolio-title-zero {
  position: relative;
  grid-column: 1/4;
  color: #ffffff;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

#portfolio-title-zero::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 10px;
  height: 100%;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: 250ms ease-in-out;
}

#portfolio-title-one {
  position: relative;
  grid-column: 1/4;
  color: #ffffff;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

#portfolio-title-one::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 10px;
  height: 100%;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: 250ms ease-in-out;
}

#portfolio-title-two {
  position: relative;
  grid-column: 1/4;
  color: #ffffff;
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

#portfolio-title-two::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 10px;
  height: 100%;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.portfolio {
  position: relative;
  width: 70%;
  height: auto;
  overflow: hidden;
  transition: 250ms ease-in-out;
}

.portfolio:hover {
  transform: scale(1.05);
  transition: 250ms ease-in-out;
  z-index: 1;
}

.portfolio > a {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: .7em;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  transition: 250ms ease-in-out;
}

.portfolio > a:hover {
  background: #36454f;
  transition: 250ms ease-in-out;
  font-weight: bold;
}

.portfolio > a > img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.portfolio-button {
  position: relative;
  grid-column: 1/4;
  background: #4169e1;
  width: 40px;
  height: 40px;
  border: solid 4px #ffffff;
  overflow: hidden;
  transition: 250ms ease-in-out;
}

.portfolio-button:hover {
  background: #36454f;
  transition: 250ms ease-in-out;
}

.portfolio-button > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.arrow-button {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
}

#footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  background: #36454f;
  width: 100%;
  height: 120px;
  padding: 10px;
}

#copyright {
  position: relative;
  grid-area: 2/5/3/6;
  text-align: right;
  font-size: .7em;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
}
/*#endregion*/

/*ES: area de formato para tablets y moviles - EN: format area for tablets and smartphones*/
/*#region*/
@media screen and (max-width: 1200px) {
  #main-container {
    width: 90%;
  }

  #right-header {
    display: grid;
    gap: 0;
    grid-template-rows: repeat(3, minmax(0px, 1fr));
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }

  #logo {
    grid-area: 1/2/4/3;
    width: 100%;
  }

  #logo-img2 {
    display: none;
  }

  .left-links {
    width: 180px;
  }

  .link1::before, .link2::before, .link3::before {
    width: 180px;
    transform: scale(1, 1);
  }

  .right-links {
    width: 100%;
  }

  .right-links > a {
    position: absolute;
    background: #4169e188;
    color: #ffffff;
  }

  #welcome-text {
    font-size: .7em;
  }

  #portfolio {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #portfolio-title-zero {
    grid-column: 1/3;
    font-size: 1.4em;
   }

  #portfolio-title-one {
   grid-column: 1/3;
   font-size: 1.4em;
  }

  #portfolio-title-two {
    grid-column: 1/3;
    font-size: 1.4em;
  }

  .portfolio {
    grid-column: 1/2;
    width: 90%;
    margin-bottom: 20px;
  }

  .portfolio:nth-child(5) {
    grid-column: 2/3;
  }

  .portfolio:nth-child(9) {
    grid-column: 2/3;
  }

  .portfolio:nth-child(11) {
    grid-column: 2/3;
  }

  .portfolio:hover {
    transform: none;
  }

  .portfolio > a:hover {
    font-weight: normal;
  }

  .portfolio > a {
    font-size: .7em;
  }

  #footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #contacts {
    grid-area: 1/1/2/2;
    font-size: .6em;
  }

  #copyright {
    grid-area: 1/2/2/3;
    font-size: .6em;
  }
}

@media screen and (max-width: 550px) {
  .left-links {
    width: 100%;
  }

  .left-links::before {
    width: 100%;
    font-size: .9em;
  }

  .left-links:hover::before {
    width: 100%;
  }

  #right-header {
    grid-template-rows: repeat(3, minmax(0px, 1fr));
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }

  #logo {
    background: #ffffff;
    grid-area: 1/1/2/2;
  }

  #logo:hover {
    background: #ffffff;
  }

  #logo-img1 {
    display: none;
  }

  #logo-img2 {
    display: block;
    width: 150px;
    height: 38px;
    margin: auto;
    padding: 5px;
  }

  .right-links {
    font-size: .8em;
  }

  #welcome-text {
    font-size: .6em;
    margin: 15px;
  }

  #portfolio {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #portfolio-title-zero {
    grid-column: 1/2;
    font-size: 1.2em;
   }

  #portfolio-title-one {
   grid-column: 1/2;
   font-size: 1.2em;
  }

  #portfolio-title-two {
    grid-column: 1/2;
    font-size: 1.2em;
  }

  .portfolio {
    grid-column: 1/2;
    width: 80%;
  }

  .portfolio:nth-child(5) {
    grid-column: 1/2;
  }

  .portfolio:nth-child(9) {
    grid-column: 1/2;
  }

  .portfolio:nth-child(11) {
    grid-column: 1/2;
  }

  .portfolio > a {
    font-size: .6em;
  }

  #footer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #contacts {
    grid-area: 1/1/2/2;
  }

  #copyright {
    grid-area: 2/1/3/2;
    font-size: .5em;
  }
}
/*#endregion*/
